body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin: 30px;
  }

.brand-logo, .button-collapse {
  margin-left: 20px;
}

.page-footer {
  position: relative;
  bottom: 0;
}

.hide {
  display: none;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: red;
    left: 24px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: red;
}



.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: red;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


.inputsDiv {
  max-width: 400px
}
.dodgerblue {
  background-color: dodgerblue;
}

#footer-fixed {
  background-color: dodgerblue;
}

#switch-block {
  display: inline;
}
