body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin: 30px;
  }

.brand-logo, .button-collapse {
  margin-left: 20px;
}

.page-footer {
  position: relative;
  bottom: 0;
}

.input-field .prefix.active {
  color: #e91e63;
}

.input-field input[type=text]:focus + label {
  color: #e91e63;
}
